@model UniversityManagement.Models.CourseAssign

@{
    ViewBag.Title = "ViewCourseStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<fieldset>
    <legend>View Course Statistics</legend>
    @using (Html.BeginForm())
    {

        <div class="col-md-8 col-md-offset-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Course.Department.DepartmentId, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="Departments" class="form-control">
                        <option value="">Select Department</option>
                        @foreach (var aDepartment in ViewBag.Departments)
                        {
                            <option value="@aDepartment.DepartmentId">@aDepartment.Name</option>
                        }
                    </select><label id="DeptErrorLabel" style="color: red;"></label>
                </div>



                @*<div class="col-md-10">
                        @Html.DropDownList("Departments", null, " --Select Department-- ", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Course.Department.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                    <label id="DeptErrorLabel" style="color: red;"></label>*@
            </div>
        </div>
        <br />
        <br />


        <label id="messageLabel" style="color: #00B16A; font-weight: normal; font-size: 20px;"></label>

        @*<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Title</th>
                        <th>Semester</th>
                        <th>Assign To</th>
                    </tr>
                </thead>
                <tbody id="htmlTableDiv"></tbody>

            </table>*@

        <div id="htmlTableDiv">
        </div>
    }
</fieldset>

@section Scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#Departments").change(function () {

                var departmentId = $("#Departments").val();

                $("#messageLabel").text("");
                var parameter = { deptId : departmentId };

                $.ajax({

                    type: "POST",
                    url: '@Url.Action("ShowCourseStatistics", "CourseAssign")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(parameter),
                    dataType: "json",
                    success: function (data) {

                        var table = $('<table id="statisticsTable" border="1" class="table" >');

                        table.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Code</th>');
                        table.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Title</th>');
                        table.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Semester</th>');
                        table.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Assigned To</th></table>');
                        table.css('background-color', '#22D7A0');

                        var tableRow = false;

                        $("#htmlTableDiv").show();

                        $.each(data, function (key, value) {

                            var trow = $('<tr>');
                            var assignedTo = value.AssignTo;

                            if (assignedTo == null || assignedTo == "")
                                assignedTo = 'Not Assigned Yet';

                            trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value.Code + '</td>');
                            trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value.Name + '</td>');
                            trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value.Semester.Name + '</td>');
                            trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + assignedTo + '</td></tr>');

                            table.append(trow);

                            tableRow = true;

                        });

                        $("tr:odd", table).css('background-color', '#F5F5F5');
                        $("tr:even", table).css('background-color', '#EEEEEE');


                        $("#htmlTableDiv").html(table);

                        if (tableRow == false) {
                            $("#htmlTableDiv").hide();
                            if (deptId != 0)
                                $("#messageLabel").text("This Department has no Course.");
                        }
                    }

                });

                return false;

            });
        });
    </script>
}
